<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Code-Challenges" data-toc-modified-id="Code-Challenges-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Code Challenges</a></span></li></ul></div>

## Code Challenges

In [15]:
import numpy as np
import pandas as pd
import math

In [16]:
# To check if a number is square root or not

def is_square(n):
    if n < 0:
        return False
    sqrt = math.sqrt(n)
    return(sqrt-int(sqrt)) == 0

In [61]:
is_square(224)

False

In [167]:
# Count number of vowels

def get_count(input_str):
    num_vowels = 0
    vowels = {'a','e','i','o','u'}
    for alpha in input_str:
        if alpha in vowels:
            num_vowels = num_vowels + 1
    print("Number of vowels: ", num_vowels)
 #   return num_vowels

In [169]:
get_count('data science machine learning')

Number of vowels:  11

In [9]:
# Find sum of smallest pair in an Array

def sum_two_smallest_numbers(numbers):
  
  smallest = min(numbers)
  
  slicedNumbers = numbers[:]
  slicedNumbers.remove(smallest)
  small = min(slicedNumbers)
  
  return smallest + small

print(sum_two_smallest_numbers([19, 5, 42, 4, 77]))

9

In [6]:
def sum_two_smallest_numbers(numbers):
    return sum(sorted(numbers)[:2])
print(sum_two_smallest_numbers([19, 5, 42, 3, 77]))

8

In [7]:
#  Find the sum of all the numbers between including them too and return it

from functools import reduce
def get_sum(a,b):
    if a != b:
        return reduce(lambda x,y: x+y, list(range(a,b+1)))
    else:
        return a

In [8]:
get_sum(5,8)

26

In [9]:
def get_sum(a,b):
    if a <= b:
        result = sum(range(a,b+1))
    elif a >= b:
        result =  sum(range(b,a+1))
#     else:
#         return a
    return result

In [10]:
get_sum(8,8)

8

In [11]:
#sum(range(9,10))

In [12]:
# Find an index N where the sum of the integers to the left of N is equal to the sum of the integers to the right of N. 
# If there is no index that would make this happen, return -1.
def find_even_index(arr):
    #your code here
    
    for i in range(len(arr)):
        if sum(arr[0:i]) == sum(arr[i+1:len(arr)+1]):
            return i      
    return -1

In [13]:
def find_even_index(arr):
    for i in range(len(arr)):
        if sum(arr[0:i]) == sum(arr[len(arr):i:-1]):
            return i
    return -1

In [14]:
find_even_index([1,2,3,4,3,2,1])

3

In [15]:
# Implement a function that adds two numbers together and returns their sum in binary. The conversion can be done before, or after the addition.

In [16]:
# Write a function, persistence, that takes in a positive parameter num and returns its multiplicative persistence, which is
# the number of times you must multiply the digits in num until you reach a single digit.

def persistence(n):
    # your code
    first = int(n / 10)
    second = n % 10
    result = first * second
    return result

In [17]:
persistence(25)

10

In [72]:
from functools import reduce
def persistence(n):
    pers = 1 if n >= 10 else 0
    mult = int(reduce(lambda x,y:int(x)*int(y), list(str(n))))
    while mult > 1 and len(str(mult)) > 1:
        mult = int(reduce(lambda x,y:int(x)*int(y), list(str(mult))))
        pers += 1
    return pers

In [77]:
persistence(999)

4

In [75]:
def persistence(n):
    n = str(n)
    count = 0
    while len(n) > 1:
        p = 1
        for i in n:
            p *= int(i)
        n = str(p)
        count += 1
    return count

In [82]:
# Fibonacci Series

nterms = int(input("Enter the number of terms "))

# first two terms
n1, n2 = 0, 1
count = 0

# check if the number of terms is valid
if nterms <= 0:
   print("Please enter a positive integer")
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

Enter the number of terms 9
Fibonacci sequence:
0
1
1
2
3
5
8
13
21

In [83]:
# Find the sum of all numbers stored in a list

# List of numbers
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
    sum = sum+val

print("The sum is", sum)

The sum is 48

In [88]:
# Factorial of a number

def factorial_num(num):
    fact = 1
    if num < 0:
        print("Enter positive number")
    elif num == 0:
        print("Factorial of 0 is 1")
    else:
        for i in range(1,num+1):
            fact =  fact * i
        print("Factorial of a number is : ", fact)

In [93]:
factorial_num(5)

Factorail of a number is :  120

In [94]:
# ATM machines allow 4 or 6 digit PIN codes and PIN codes cannot contain anything but exactly 4 digits or exactly 6 digits.
# If the function is passed a valid PIN string, return true, else return false.

import re
def validate_pin(pin):
    if re.fullmatch("\d{4}|\d{6}", pin):
        return True
    else:
        return False

In [96]:
validate_pin("1234")

True

In [97]:
# Function that takes an integer argument and returns logical value true or false depending on if the integer is a prime.
def is_prime(num):
     if (num<=1):
        return False
     elif (num==2):
        return True
     else:
        for x in range(2,num):
            if(num % x==0):
                return False
        return True

In [100]:
is_prime(5099)

True

In [101]:
def is_prime(num):
    if num > 1:
        n = num // 2
        for i in range(2, n + 1):
            if num % i == 0:
                return False
        return True
    else:
        return False

In [102]:
def is_prime(x):
    prime = False
    if x > 1:
        prime = True
        k = 2
        n = sqrt(x) # to find square root of x 
        while k <= n and prime == True:
            if x % k == 0:
                prime = False
            k += 1
    return prime

In [19]:
# The target of this exercise is to create two lists called x_list and y_list, which contain 10 instances of the variables x
# and y, respectively. You are also required to create a list called big_list, which contains the variables x and y, 10 
# times each, by concatenating the two lists you have created.

x = object()
y = object()

x_list = ([x] * 10)
y_list = ([y] * 10)
big_list = x_list + y_list

print("x_list contains %d objects" % len(x_list))
print("y_list contains %d objects" % len(y_list))
print("big_list contains %d objects" % len(big_list))

# testing code
if x_list.count(x) == 10 and y_list.count(y) == 10:
    print("Almost there...")
if big_list.count(x) == 10 and big_list.count(y) == 10:
    print("Great!")

x_list contains 10 objects
y_list contains 10 objects
big_list contains 20 objects
Almost there...
Great!

In [20]:
# Write a format string which prints out the data using the following syntax: Hello John Doe. Your current balance is $53.44

data = ("John", "Doe", 53.44)
format_string = "Hello %s %s. Your current balance is $%s."

print(format_string % data)

Hello John Doe. Your current balance is $53.44.

In [21]:
# Reverse
astring = "Hello world!"
print(astring[::-1])

!dlrow olleH

In [22]:
astring = "Hello world!"
print(astring[3:7:2])

l

In [23]:
s = "Strings are awesome!"

print("Length of s = %d" % len(s))
print("The first occurrence of the letter a = %d" % s.index("a"))
print("a occurs %d times" % s.count("a"))

# Slicing the string into bits
print("The first five characters are '%s'" % s[:5]) # Start to 5
print("The next five characters are '%s'" % s[5:10]) # 5 to 10
print("The thirteenth character is '%s'" % s[12]) # Just number 12
print("The characters with odd index are '%s'" %s[1::2])
print("The last five characters are '%s'" % s[-5:]) # 5th-from-last to end

# Convert everything to uppercase
print("String in uppercase: %s" % s.upper())

# Convert everything to lowercase
print("String in lowercase: %s" % s.lower())

# Check how a string starts
if s.startswith("Str"):
    print("String starts with 'Str'. Good!")

# Check how a string ends
if s.endswith("ome!"):
    print("String ends with 'ome!'. Good!")

# Split the string into three separate strings,
# each containing only a word
print("Split the words of the string: %s" % s.split(" "))

Length of s = 20
The first occurrence of the letter a = 8
a occurs 2 times
The first five characters are 'Strin'
The next five characters are 'gs ar'
The thirteenth character is 'a'
The characters with odd index are 'tig r wsm!'
The last five characters are 'some!'
String in uppercase: STRINGS ARE AWESOME!
String in lowercase: strings are awesome!
String starts with 'Str'. Good!
String ends with 'ome!'. Good!
Split the words of the string: ['Strings', 'are', 'awesome!']

In [24]:
# Prints out the numbers 0,1,2,3,4
for x in range(5):
    print(x)

# Prints out 3,4,5
for x in range(3, 6):
    print(x)

# Prints out 3,5,7
for x in range(3, 8, 2):
    print(x)

0
1
2
3
4
3
4
5
3
5
7

In [25]:
# Prints out 0,1,2,3,4

count = 0
while True:
    print(count)
    count += 1
    if count >= 5:
        break

# Prints out only odd numbers - 1,3,5,7,9
for x in range(10):
    # Check if x is even
    if x % 2 == 0:
        continue
    print(x)

0
1
2
3
4
1
3
5
7
9

In [26]:
# Loop through and print out all even numbers from the numbers list in the same order they are received. Don't print any 
# numbers that come after 237 in the sequence.

numbers = [
    951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544,
    615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941,
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470,
    743, 527
]

for number in numbers:
    if number == 237:
        break

    if number % 2 == 1:
        continue

    print(number)

402
984
360
408
980
544
390
984
592
236
942
386
462
418
344
236
566
978
328
162
758
918

In [29]:
phonebook = {"Jim":2787320,"Jill":84473729,"Jack":38493020}

for name,number in phonebook.items():
    print("Phone no. of %s is %d " %(name,number))

Phone no. of Jim is 2787320
Phone no. of Jill is 84473729
Phone no. of Jack is 38493020

Generators are used to create iterators, but with a different approach. Generators are simple functions which return an 
iterable set of items, one at a time, in a special way.

When an iteration over a set of item starts using the for statement, the generator is run. Once the generator's function 
code reaches a "yield" statement, the generator yields its execution back to the for loop, returning a new value from the 
set. The generator function can generate as many values (possibly infinite) as it wants, yielding each one in its turn.

In [30]:
import random

def lottery():
    # returns 6 numbers between 1 and 40
    for i in range(6):
        yield random.randint(1, 40)

    # returns a 7th number between 1 and 15
    yield random.randint(1,15)

for random_number in lottery():
       print("And the next number is... %d!" %(random_number))

And the next number is... 38!
And the next number is... 7!
And the next number is... 17!
And the next number is... 11!
And the next number is... 13!
And the next number is... 34!
And the next number is... 8!

This function decides how to generate the random numbers on its own, and executes the yield statements one at a time, 
pausing in between to yield execution back to the main for loop.

In [34]:
# Create a list of integers which specify the length of each word in a certain sentence, but only if the word is not the 
# word "the".

sentence = "the quick brown fox jumps over the lazy dog"
words = sentence.split()
words_len = []
for word in words:
    if word != "the":
        words_len.append(len(word))

print(words)
print(words_len)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[5, 5, 3, 5, 4, 4, 3]

In [35]:
numbers = [34.6, -203.4, 44.9, 68.3, -12.2, 44.6, 12.7]
newlist = []
for number in numbers:
    if number > 0:
        newlist.append(number)
print(newlist)

[34.6, 44.9, 68.3, 44.6, 12.7]

In [36]:

def foo(a, b, c, *args):
    return len(args)

def bar(a, b, c, **kwargs):
    return kwargs["magicnumber"] == 7


# test code
if foo(1,2,3,4) == 1:
    print("Good.")
if foo(1,2,3,4,5) == 2:
    print("Better.")
if bar(1,2,3,magicnumber = 6) == False:
    print("Great.")
if bar(1,2,3,magicnumber = 7) == True:
    print("Awesome!")

Good.
Better.
Great.
Awesome!

In [37]:

def array_diff(a, b):
    res = []

    for i in a:
        if i not in b:
            res.append(i)
            
    return res

In [38]:
def validBraces(string):
    braces = [["(", ")"], ["{", "}"], ["[", "]"]]
    paired = []

    for i in range(len(string) -1):
        temp = []
        temp.append(string[i])
        temp.append(string[i +1])
        if temp in braces:
            paired.append(temp)
            
    if len(paired)*2 == len(string):
        return True
    else:
        for i in range(len(string) //2):
            temp = []
            temp.append(string[i])
            temp.append(string[-i -1])
            if temp in braces:
                paired.append(temp)
                
            if len(paired)*2 == len(string):
                return True
    return False

print(validBraces( "()" ), True);
print(validBraces( "[(])" ), False);
print(validBraces( "{}()[]" ), True);
print(validBraces( "([{}])" ), True);
print(validBraces( r"([}{])" ), False);

True True
False False
True True
True True
False False

In [40]:
def validBraces(s):
    while '{}' in s or '()' in s or '[]' in s:
        s=s.replace('{}','')
        s=s.replace('[]','')
        s=s.replace('()','')
    return s==''

In [41]:
# Sets are lists with no duplicate entries
print(set("my name is Eric and Eric is my name".split()))

{'name', 'Eric', 'and', 'is', 'my'}

In [42]:
a = set(["Jake", "John", "Eric"])
b = set(["John", "Jill"])

print(a.intersection(b))
print(b.intersection(a))

{'John'}
{'John'}

In [43]:
# To find out which members attended only one of the events, we use the "symmetric_difference" method
a = set(["Jake", "John", "Eric"])
b = set(["John", "Jill"])

print(a.symmetric_difference(b))
print(b.symmetric_difference(a))

{'Eric', 'Jill', 'Jake'}
{'Eric', 'Jill', 'Jake'}

In [44]:
a = set(["Jake", "John", "Eric"])
b = set(["John", "Jill"])

print(a.difference(b))
print(b.difference(a))

{'Eric', 'Jake'}
{'Jill'}

In [45]:
a = set(["Jake", "John", "Eric"])
b = set(["John", "Jill"])

print(a.union(b))

{'Eric', 'Jill', 'John', 'Jake'}

In [46]:
a = ["Jake", "John", "Eric"]
b = ["John", "Jill"]

A = set(a)
B = set(b)

print(A.difference(B))

{'Eric', 'Jake'}

In [47]:
# Using json
import json

# Function to add name and salary and return it
def add_employee(salaries_json, name, salary):
    salaries = json.loads(salaries_json)
    salaries[name] = salary

    return json.dumps(salaries)

salaries = '{"Alfred" : 300, "Jane" : 400 }'
new_salaries = add_employee(salaries, "Me", 800)
decoded_salaries = json.loads(new_salaries)
print(decoded_salaries["Alfred"])
print(decoded_salaries["Jane"])
print(decoded_salaries["Me"])

300
400
800

In [48]:
import json
json_string = json.dumps([1, 2, 3, "a", "b", "c"])
print(json_string)

[1, 2, 3, "a", "b", "c"]

In [49]:
import pickle
pickled_string = pickle.dumps([1, 2, 3, "a", "b", "c"])
print(pickle.loads(pickled_string))

[1, 2, 3, 'a', 'b', 'c']

In [50]:
# Partial functions
from functools import partial
def func(u,v,w,x):
    return u*4 + v*3 + w*2 + x

p = partial(func,5,6,7)
print(p(8))

60

In [1]:
# Nested functions

def transmit_to_space(message):
    "This is the enclosing function"
    def data_transmitter():
        "The nested function"
        print(message)

    data_transmitter()

print(transmit_to_space("Test message"))

Test message
None

In [2]:
def print_msg(number):
    def printer():
        "Here we are using the nonlocal keyword"
        nonlocal number
        number=3
        print(number)
    printer()
    print(number)

print_msg(9)

3
3

In [9]:
all_names = ['TIM', 'SCOTT', 'RENO', 'ARIA']
new_names = []

for name in all_names:
    name_ = name.lower()
    new_names.append(name_)

print(new_names)

['tim', 'scott', 'reno', 'aria']

In [11]:
# Using maps
all_names = ['TIM', 'SCOTT', 'RENO', 'ARIA']

new_names = list(map(str.lower, all_names))

print(new_names)

['tim', 'scott', 'reno', 'aria']

In [12]:
circle_areas = [3.56773, 5.57668, 4.00914, 56.24241, 9.01344, 32.00013]

result = list(map(round, circle_areas, range(1,7)))

print(result)

[3.6, 5.58, 4.009, 56.2424, 9.01344, 32.00013]

In [13]:
my_strings = ['a', 'b', 'c', 'd', 'e']
my_numbers = [1,2,3,4,5]

results = list(zip(my_strings, my_numbers))

print(results)

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

In [14]:
scores = [65, 85, 90, 68, 59, 76, 60, 88, 75, 65]

def marks_student(score):
    return score > 75

over_75 = list(filter(marks_student, scores))

print(over_75)

[85, 90, 76, 88]

In [23]:
pal_names = ("malayalam", "dad", "madam", "free", "ajhdas","mom")

palindromes = list(filter(lambda word: word == word[::-1], pal_names))

print(palindromes)

['malayalam', 'dad', 'madam', 'mom']

In [18]:
from functools import reduce

numbers = [3, 4, 6, 9, 10, 12]

def total_sum(first, second):
    return first + second

result = reduce(total_sum, numbers)
print(result)

44

In [19]:

numbers = [3, 4, 6, 9, 34, 12]

def custom_sum(first, second):
    return first + second

result = reduce(custom_sum, numbers, 10)
print(result)

78

In [22]:
from functools import reduce 

my_floats = [4.35, 6.50, 3.25, 9.45, 2.16, 8.88, 4.59]
my_names = ["sunshine", "beautiful", "josiah", "museum", "nsdksdksds"]
my_numbers = [4, 6, 9, 23, 5]

map_result = list(map(lambda x: round(x ** 2, 3), my_floats))
filter_result = list(filter(lambda name: len(name) <= 7, my_names))
reduce_result = reduce(lambda num1, num2: num1 * num2, my_numbers)

print(map_result)
print(filter_result)
print(reduce_result)

[18.922, 42.25, 10.562, 89.302, 4.666, 78.854, 21.068]
['josiah', 'museum']
24840

In [15]:
all_names = ['SCOOBY', 'TOM', 'JERRY', 'HENRY','DAVE']

# creating an empty list to store names in lower case
new_names = []

for name in all_names:
    name_ = name.lower()
    new_names.append(name_) # appending the names to the list

print(new_names)

['scooby', 'tom', 'jerry', 'henry', 'dave']

In [16]:
all_names = ['SCOOBY', 'TOM', 'JERRY', 'HENRY','DAVE']

new_names = list(map(str.lower, all_names))

print(new_names)

['scooby', 'tom', 'jerry', 'henry', 'dave']

In [27]:
deci_numbers = [7.156783, 4.546689, 15.019104, 11.132421, 2.901344, 23.000103]

result = list(map(round, deci_numbers, range(1,4)))

print(result)

[7.2, 4.55, 15.019]

In [24]:
first_names = ['scooby', 'spider', 'bruce', 'tom']
new_number = [1,2,3,4]

results = list(zip(first_names, new_number))

print(results)

[('scooby', 1), ('spider', 2), ('bruce', 3), ('tom', 4)]

In [29]:
first_names = ['scooby', 'spider', 'bruce', 'tom']
new_number = [1,2,3,4]

results = list(map(lambda x, y: (x, y), first_names, new_number))

print(results)

[('scooby', 1), ('spider', 2), ('bruce', 3), ('tom', 4)]

In [5]:
age = [25, 45, 30, 59, 20, 60, 29, 55, 81, 65]

def check_age(age):
    return age > 35

result = list(filter(check_age, age))

print(result)

[45, 59, 60, 55, 81, 65]

In [7]:
pal_names = ("dad", "mam", "madam", "auto", "science", "data")

palindromes = list(filter(lambda word: word == word[::-1], pal_names))

print(palindromes)

['dad', 'mam', 'madam']

In [9]:
number_range = range(-3, 5)
greater_than_zero = list(filter(lambda x: x > 0, number_range))
print(greater_than_zero)

[1, 2, 3, 4]

In [16]:
sum = 0
list = [1, 2, 3, 4]
for num in list:
    sum = sum + num
print(sum)

10

In [123]:
from functools import reduce

list = [1,2,3,4]

def new_sum(first, second):
    return first + second

result = reduce(new_sum, list)
print(result)

10

In [124]:
list = [1,2,3,4]

def new_sum(first, second):
    return first + second

result = reduce(new_sum, list,5)
print(result)

15

In [21]:
from functools import reduce
sum = reduce((lambda x, y: x + y), [1, 2, 3, 4])
print(sum)

10

In [33]:
# If it’s a multiplier of 3, print “Fizz”,If it’s a multiplier of 5, print “Buzz”
# If both 3 and 5 — “Fizz Buzz”, Otherwise, print the number itself

def fizz_buzz(num):
    if num % 3 == 0 and num % 5 == 0:
        return "Fizz Buzz"
    elif num % 3 == 0:
        return "Fizz"
    elif num % 5 == 0:
        return "Buzz"
    else:
        return num

fizz_buzz(22)

22

In [1]:
#dir(np)

In [112]:
import math
from math import sqrt

def std_dev(numbers):
    if len(numbers) > 0:
        avg = np.mean(numbers)
        var=0
        for i in numbers:
            var += (i-avg) ** 2
        new_var =   var / (len(numbers)-1)
        ans = sqrt(new_var)
        return ans
    return float('NaN')

numbers = [1,2,3,4]

std_dev(numbers)

1.2909944487358056

In [106]:
numbers = [1,2,3,4]

In [2]:
#help(sum)

In [121]:
from math import sqrt

def std_dev(numbers):
    global sum
    if len(numbers) > 0:
        avg = np.mean(numbers)
        print(numbers)
        var = np.sum([(i - avg) ** 2 for i in numbers]) / len(numbers)
        
        ans = sqrt(var)
        return ans
    return float('NaN')

In [122]:
std_dev(numbers)

[1, 2, 3, 4]

1.118033988749895

In [46]:
def count_num(num_list):
    result = []
    for num in num_list:
        if num_list.count(num) > 1 and num not in result:
            result.append(num)
    return result

In [47]:
new_list = [1,2,1,3,3,4,4]
count_num(new_list)

[1, 3, 4]

In [56]:
def my_function(name,lang):
  print("Hello %s. Welcome to the world of %s" %(name,lang))

my_function('Jerry','Python')

Hello Jerry. Welcome to the world of Python

In [58]:
def my_function(*lang):
  print("This is the world of " + lang[1])

my_function("Java", "Python", "C++")

This is the world of Python

In [60]:
def my_function(**name):
  print("My first name is " + name["fname"])

my_function(fname = "Jerry", lname = "Mouse")

My first name is Jerry

In [66]:
def my_function(countries):
  for c in countries:
    print("Country name is %s" %(c))

countries = ["US", "India", "Australia"]

my_function(countries)

Country name is US
Country name is India
Country name is Australia

In [73]:
# Calculate how many ids we have per site

def new_list(ids):
    res = []
    for i in ids:
        id = i[-2:]
        res.append(id)
    #print(res) 
    result = {}
    for x in res:
        result[x] = res.count(x)
    return result

In [74]:
new_list(['xgc8qnman8so3-ID', 'oo7052mi2p5r2-IN', 'g80c1j19c12p-IN', 'jcyb4ozn87q63-PL', 'pew7nsb-PL', '5kdkydfo-UA'])

{'ID': 1, 'IN': 2, 'PL': 2, 'UA': 1}

In [79]:
def new_func(ids):
   # list_ids = [i[-2:] for i in ids]
    return {id: [i[-2:] for i in ids].count(id) for id in [i[-2:] for i in ids]}

In [80]:
new_func(['xgc8qnman8so3-ID', 'oo7052mi2p5r2-IN', 'g80c1j19c12p-IN', 'jcyb4ozn87q63-PL', 'pew7nsb-PL', '5kdkydfo-UA'])

{'ID': 1, 'IN': 2, 'PL': 2, 'UA': 1}

In [84]:
from functools import reduce

numbers = [3, 4, 6, 9, 10, 12]

def abc(a, b):
    return a * b

result = reduce(abc, numbers)
print(result)

77760

In [89]:
from functools import reduce
def abc(a,b):
    return a*b

def fact(num):
    return reduce(abc,range(1,num+1))

In [88]:
fact(5)

120

In [90]:
def fact(num):
    return reduce(lambda x,y:x*y,range(1,num+1))

In [91]:
fact(5)

120

In [94]:
import math

def fact(num):
    return math.prod(range(1,num+1))

In [93]:
fact(4)

AttributeError: module 'math' has no attribute 'prod'

In [97]:
from platform import python_version
print(python_version())

3.6.10

In [133]:
# 'aaaabbbcca' ⇒ [('a', 4), ('b', 3), ('c', 2), ('a', 1)]

def count_alpha(alpha):
    new_res={}
    for x in alpha:
        new_res[x] = alpha.count(x)
    return new_res

count_alpha('aaaaabbbbccad')

{'a': 6, 'b': 4, 'c': 2, 'd': 1}

In [135]:
def triangleShape(n):
    for i in range(n):
        for j in range(n-i):
            print(' ', end=' ')
        for k in range(2*i+1):
            print('*',end=' ')
        print()

triangleShape(5)

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [136]:
new_dict = {
  "course": "Python",
  "data": "Dictionary",
  "year": 2020
}
print(new_dict)

{'course': 'Python', 'data': 'Dictionary', 'year': 2020}

In [138]:
new_dict = dict([
    ('course','Python'),
    ('data','Dictionary'),
    ('year',2020)
])
print(new_dict)

{'course': 'Python', 'data': 'Dictionary', 'year': 2020}

In [139]:
new_dict['course']

'Python'

In [141]:
new_dict.get('course')

'Python'

In [142]:
new_dict['job'] = 'Data Scientist'
new_dict

{'course': 'Python',
 'data': 'Dictionary',
 'year': 2020,
 'job': 'Data Scientist'}

In [143]:
new_dict['year'] = 2021
new_dict

{'course': 'Python',
 'data': 'Dictionary',
 'year': 2021,
 'job': 'Data Scientist'}

In [144]:
del new_dict['year']
new_dict

{'course': 'Python', 'data': 'Dictionary', 'job': 'Data Scientist'}

In [148]:
system_dict = {
  "brand": "Lenovo",
  "model": "Laptop",
  "year": 2015
}
system_dict.clear()

print(system_dict)

{}

In [149]:
first_dict = dict([
    ('course','Python'),
    ('data','Dictionary'),
    ('year',2020)
])
new_dict = first_dict.copy()
print(new_dict)

{'course': 'Python', 'data': 'Dictionary', 'year': 2020}

In [150]:
for x in new_dict:
  print(x)

course
data
year

In [151]:
for x in new_dict:
  print(new_dict[x])

Python
Dictionary
2020

In [152]:
our_family = {
    "dad": {
    "name" : "Jack",
    "year" : 1981
  },
    "mom": {
    "name" : "Rachel",
    "year" : 1985
  },
   "child" : {
    "name" : "Tony",
    "year" : 2016
  }
}

print(our_family)

{'dad': {'name': 'Jack', 'year': 1981}, 'mom': {'name': 'Rachel', 'year': 1985}, 'child': {'name': 'Tony', 'year': 2016}}

In [154]:
dad = {
  "name" : "Jack",
  "year" : 1981
}

mom = {
  "name" : "Rachel",
  "year" : 1985
}

child = {
  "name" : "Tony",
  "year" : 2016
}

our_family = {
  "dad" : dad,
  "mom" : mom,
  "child" : child
}

print(our_family)

{'dad': {'name': 'Jack', 'year': 1981}, 'mom': {'name': 'Rachel', 'year': 1985}, 'child': {'name': 'Tony', 'year': 2016}}

In [155]:
for x, y in new_dict.items():
  print(x, y)

course Python
data Dictionary
year 2020

In [156]:
for x in new_dict.values():
  print(x)

Python
Dictionary
2020

In [174]:
x = 0
while x <= 5:
  print(x)
  x += 1

0
1
2
3
4
5

In [181]:
x = 0
while x < 5:
  print(x)
  if x == 2:
    break
  x += 1

0
1
2

In [186]:
x = 0
while x < 5:
  x += 1
  if x == 2:
    continue
  print(x)

1
3
4
5

In [185]:
x = 1
while x < 5:
  print(x)
  x += 1
else:
  print("While loop ended as x is more than 5")

1
2
3
4
While loop ended as x is more than 5

In [198]:
i = 0
while i < 5:
    i += 1
    if i == 3:
        break

    if i % 2 == 1:
        continue

    print(i)
    
while i < 5:
    i += 1
else:
    print("Loop has ended")

2
Loop has ended

In [201]:
names = ["tom", "and", "jerry"]
for x in names:
  print(x)

tom
and
jerry

In [203]:
for x in "python":
  print(x)

p
y
t
h
o
n

In [217]:
for x in 'WelcometoPython': 
 
    # break the loop as soon it sees 'l' 
    if x == 'l':
         break
    print(x)
 
print('The loop ended when it reached the letter', x)

W
e
The loop ended when it reached the letter l

In [210]:
names = ["tom", "and", "jerry"]
for x in names:
  if x == "and":
    continue
  print(x)

tom
jerry

In [212]:
for x in range(5):
  print(x)
else:
  print("The loop as ended!")

0
1
2
3
4
The loop as ended!

In [214]:
color = ["red", "blue", "yellow"]
names = ["car", "ball", "book"]

for x in color:
  for y in names:
    print(x, y)

red car
red ball
red book
blue car
blue ball
blue book
yellow car
yellow ball
yellow book

In [216]:
for x in [1, 2, 3]:
  pass

In [20]:
# To demonstrate working of enumerate() 
  
for key, value in enumerate(['Looping', 'Techniques', 'In', 'Python']): 
    print(key, value)

0 Looping
1 Techniques
2 In
3 Python

In [22]:
for key, value in enumerate(['We', 'love', 'coding', 'in', 'Python']): 
    print(value, end=' ')

We love coding in Python

In [26]:
# Accessing items using enumerate() 
  
colors = ["Red" , "Blue", "Green"] 
for i, x in enumerate(colors): 
    print (x)

Red
Blue
Green

In [40]:
# initializing the lists
my_list = ['name', 'colour', 'type'] 
about_me = ['apple', 'red', 'a fruit'] 
  
# using zip() to combine two containers  
for i, x in zip(my_list, about_me): 
    print('What is your {0}?  I am {1}.'.format(i, x))

What is your name?  I am apple.
What is your colour?  I am red.
What is your type?  I am a fruit.

In [47]:
a = ("Scooby", "Tom","Python")
b = ("Doo", "Jerry")

x = zip(a, b)
print(tuple(x))

(('Scooby', 'Doo'), ('Tom', 'Jerry'))

In [56]:
# Unzip lists 
a,b = zip(*[('Scooby', 'Doo'),  
              ('Tom', 'Jerry')]) 
  
# Printing unzipped lists       
print(a) 
print(b)

('Scooby', 'Tom')
('Doo', 'Jerry')